body{
    background-color: black;
    font-family: "Libre Baskerville", serif;
    color: white;
}

.poster{
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    text-transform: none;
    text-align: center;
}

.image{
    border: 5px solid white;
    width: 100%;
}

h1{
    text-transform: uppercase;
}